* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  max-width: 445px;
  /* Adjust as needed */
  width: 100%;
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: transparent transparent;
  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
  /* Adjust as needed */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Adjust as needed */
}

.status-wrapper {
  display: flex;
  gap: 4px;
  /* Adjust as needed */
}

::-webkit-scrollbar {
  display: none;
}
